<div class="col-md-3 col-sm-3">
	{{view "category_menu"}}
</div>
<div class="col-md-9 col-sm-9">
	<input  id="startup-search" width="100%" type="text" 
			class="form-control" style="margin-bottom:20px"
			placeholder="Sélectionnez une startup">

	<table class='table table-bordered table-hover well' style="background-color:#FFF">
		<tr>
			<th></th>
			<th>Startup</th>
			<th>Description</th>
		</tr>
		{{#each item in filteredStartup}}
		<tr>
			<td {{action "startupSelection" item.id}}><img width="70px" height="70px" {{bind-attr src=item.img}}></td>
			<td class="text-center"><a {{bind-attr href=item.url}} target="_bank">{{item.name}}</a></td>
			<td {{action "startupSelection" item.id}}>{{item.description}}</td>
		</tr>
		{{/each}}
	</table>
</div>
